<style>
    .custum-file-upload {
        height: 200px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #cacaca;
        background-color: rgba(255, 255, 255, 1);
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    }

    .custum-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .icon svg {
        height: 80px;
        fill: rgba(75, 85, 99, 1);
    }

    .custum-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custum-file-upload .text span {
        font-weight: 400;
        color: rgba(75, 85, 99, 1);
    }

    .custum-file-upload input {
        display: none;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Edit Category</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item">Categorys</li>
                <li class="breadcrumb-item active">Edit Category</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Multi Columns Form</h5> --}}

                        <!-- Multi Columns Form -->
                        <form class="row g-3 mt-3" action="/admin/category/edit-category/{{category._id}}"
                            enctype="multipart/form-data" method="POST">
                            <div class="col-md-12">
                                <label for="inputName5" class="form-label">Category Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="{{category.name}}" name="name"
                                    id="inputName5">
                                {{!-- <select class="form-select" name="name" aria-label="Default select example"
                                    required>
                                    <option selected disabled>Select Room</option>
                                    <option value="Boat house">Boat house</option>
                                    <option value="igloo cave">Igloo Cave</option>
                                    <option value="pool villa">Pool Villa</option>

                                </select> --}}
                            </div>





                            <div class="col-md-12">
                                <label for="inputEmail5" class="form-label">Description</label>
                                <textarea type="text" class="form-control" name="desc"
                                    id="inputEmail5">{{category.desc}}</textarea>
                            </div>


                            <div class="col-md-12">
                                <label for="inputEmail5" class="form-label">List Facilities</label>
                                <textarea type="text" class="form-control" name="fesilities"
                                    id="inputEmail5">{{category.fesilities}}</textarea>
                            </div>


                    </div>
                </div>

            </div>

            <div class="col-lg-5">
                <div class="card p-3">
                    <div class="card-body">
                        <label class="mb-3">Category Photos <span class="text-danger">*</span></label>


                        <input type="file" name="Image" class="form-control" accept="image/*"
                            onchange="viewImage(event)">
                        <br>
                        <img src="/images/category-images/{{category._id}}.png" alt=""
                            style="width: 15rem; margin-bottom: 8px;" id="imgView">



                    </div>
                </div>
            </div>


        </div>

    </section>
    <div class="mb-4" style="float: inline-end;
">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin/rooms/all-rooms" class="btn btn-secondary">Cancel</a>
    </div>
    </form>


</main><!-- End #main -->

<script>
    document.getElementById("estcost").addEventListener("input", function () {
        let estCost = parseFloat(this.value) || 0; // Get the entered value and ensure it's a number
        document.getElementById("advcost").value = Math.round(estCost * 0.5); // Set 50% of the value without decimals
    });
</script>

<script>
    function viewImage(event) {
        document.getElementById("imgView").src = URL.createObjectURL(event.target.files[0]);
    }
</script>